@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Vilane-Bold";
  src: url("/fonts/Vilane Bold.ttf");
}
@font-face {
  font-family: "Vilane-Extra-Light";
  src: url("/fonts/Vilane Extra Light.ttf");
}
@font-face {
  font-family: "Vilane-Light";
  src: url("/fonts/Vilane Light.ttf");
}
@font-face {
  font-family: "Vilane-Medium";
  src: url("/fonts/Vilane Medium.ttf");
}
@font-face {
  font-family: "Vilane-Regular";
  src: url("/fonts/Vilane Regular.ttf");
}
@font-face {
  font-family: "Vilane-Semi-Bold";
  src: url("/fonts/Vilane Semi Bold.ttf");
}
@font-face {
  font-family: "Vilane-Thin";
  src: url("/fonts/Vilane Thin.ttf");
}


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

